/* Apply border to all tables and cells */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
	text-align:center
}

/* Make nested tables take full width */
table table {
  width: 100%;
}

/* Optional: Make main table full height *